@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

* {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
}

table {
	margin: 0 auto;
}

td {
	font-family: "Roboto Mono", "Courier New", Courier, monospace;
}

.pos-up {
	color: green;
}

.pos-down {
	color: red;
}
