/* latin */
@font-face {
	font-family: "Atkinson Hyperlegible Next";
	font-style: italic;
	font-weight: 200 800;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/atkinsonhyperlegiblenext/v7/NaPPcYPdHfdVxJw0IfIP0lvYFqijb-UxCtm5_wdGseiMr3i-oWR7e2SfJQ.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Atkinson Hyperlegible Next";
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/atkinsonhyperlegiblenext/v7/NaPNcYPdHfdVxJw0IfIP0lvYFqijb-UxCtm5_wdGseiJn3q0oEZ-W2Q.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Italianno";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/italianno/v18/dg4n_p3sv6gCJkwzT6RXiJwo.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

:root {
	--color-primary: #222222;
	--color-secondary: #e7e7e7;
	--duration: 0.5s;
	--nav-duration: calc(var(--duration) / 2);
	--ease: cubic-bezier(0.215, 0.61, 0.355, 1);
	--space: 1rem;
	--font-special: "Roboto", sans-serif;
	--font-primary: "Atkinson Hyperlegible Next", sans-serif;
	--font-heading: "Atkinson Hyperlegible Next", sans-serif;
	--font-size: 1.125rem;
	--line-height: 1.6;
}

body {
	margin: 0;
	font-family: var(--font-primary);
	font-size: var(--font-size);
	line-height: var(--line-height);
	overflow-x: hidden;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.navigation {
	position: fixed;
	display: flex;
}

#cover {
	height: 100vh;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: rgb(30, 32, 32); */
	background-color: rgb(0, 0, 0);

	#title {
		height: 100vh;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		/* position: sticky; */
	}

	.upper {
		align-items: flex-end;
	}
	.lower {
		align-items: flex-start;
	}
	.name {
		color: whitesmoke;
		font-size: 3rem;
		margin: -2rem 0;
		display: flex;

		.monogram {
			font-family: "Italianno";
			font-size: 2em;
			padding: 0;
			margin-bottom: -0.3em;
			margin-top: -0.2em;
		}
		.name_body {
			color: rgb(207, 207, 207);
			font-family: "Atkinson Hyperlegible Next", sans-serif;
			padding: 0.2em 0;
			z-index: 1;
		}
	}

	canvas {
		position: absolute;
		margin: 0;
		padding: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: black;
		display: block;
	}
}

#projects {
	height: 100vh;

	.container {
		display: grid;
		padding: 0 10%;
		grid-template-columns: 10em auto 10em;
		grid-template-rows: 10em 10em 10em 10em;
		grid-template-areas:
			"a-icon a-flavour a-flavour"
			/* ". . ." */
			"b-flavour b-flavour b-icon"
			"c-icon c-flavour c-flavour"
			"d-flavour d-flavour d-icon";

		.icon {
			width: 100%;
		}
		.flavour {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: rgb(207, 207, 207);
		}
		.icon-a {
			grid-area: a-icon;
		}
		.flavour-a {
			grid-area: a-flavour;
		}
		.icon-b {
			grid-area: b-icon;
		}
		.flavour-b {
			grid-area: b-flavour;
		}
		.icon-c {
			grid-area: c-icon;
		}
		.flavour-c {
			grid-area: c-flavour;
		}
		.icon-d {
			grid-area: d-icon;
		}
		.flavour-d {
			grid-area: d-flavour;
		}

		.footer {
			position: absolute;
			text-align: right;
			bottom: 0;
			right: 1em;
			margin: 1em;
		}

		p {
			padding-left: 1em;
		}
	}
}

#about {
	height: 100vh;
}
